aws-certified-devops-engineer-professional/05-incident-and-event-response/terraform/modules/state_machine/step-function.json
{
  "Comment": "Deletes exposed IAM access keypairs and notifies security",
  "StartAt": "DeleteAccessKeyPair",
  "States": {
    "DeleteAccessKeyPair": {
      "Type": "Task",
      "Resource": "${DeleteAccessKeyPairArn}",
      "Catch": [
        {
          "ErrorEquals": [ "ClientError" ],
          "ResultPath": "$.error-info",
          "Next": "NotifySecurity"
        }
      ],
      "Next": "LookupCloudTrailEvents"
    },
    "LookupCloudTrailEvents": {
      "Type": "Task",
      "Resource": "${LookupCloudTrailEventsArn}",
      "Next": "NotifySecurity"
    },
    "NotifySecurity": {
      "Type": "Task",
      "Resource": "${NotifySecurityArn}",
      "End": true
    }
  }
}