aws-certified-devops-engineer-professional/04-policies-and-standards-automation/terraform/aws_risk_credentials_exposed/step-function.json
{
  "Comment": "Deletes exposed IAM access keypairs and notifies security",
  "StartAt": "DeleteAccessKeyPair",
  "States": {
    "DeleteAccessKeyPair": {
      "Type": "Task",
      "Resource": "${DeleteAccessKeyPair.Arn}",
      "Catch": [
        {
          "ErrorEquals": [ "ClientError" ],
          "ResultPath": "$.error-info",
          "Next": "NotifySecurity"
        }
      ],
      "Next": "LookupCloudTrailEvents"
    },
    "LookupCloudTrailEvents": {
      "Type": "Task",
      "Resource": "${LookupCloudTrailEvents.Arn}",
      "Next": "NotifySecurity"
    },
    "NotifySecurity": {
      "Type": "Task",
      "Resource": "${NotifySecurity.Arn}",
      "End": true
    }
  }
}